body {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.center { text-align: center; }
.witdh50 { width: 50%; }
.witdh25 { width: 25%; }
p#cdbstatus, p#vcardpara {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 2.5em;
  line-height: 2.5em;
}
div#contactsdiv { overflow-y: auto; height: 20em; }
table#contactstable {
  width: 100%;
  border-collapse: collapse;
}
table#contactstable thead {
  position: sticky;
  top: 0;
  background: #eeeeee;
}
table#contactstable th {
  position: sticky;
  top: 0;
  padding: 8px 16px;
  text-align: left;
}
table#contactstable td {
  padding: 8px 16px;
  border-bottom: 1px solid black;
}
tbody#contactsbody tr:hover { background: #dddddd; }

.indent5 { margin-left: 5%; }

ul#vcardEMAIL, ul#vcardTEL { list-style-type: none; }

span#vcardBDAYday, span#vcardBDAYmonth, span#vcardGEOlatd,
span#vcardGEOlatm, span#vcardGEOlongd, span#vcardGEOlongm { min-width: 1.5em; display: inline-block; }

span#vcardADRhomestate, span#vcardADRworkstate, span#vcardADRparcelstate,
span#vcardADRpostalstate, span#vcardADRdomstate, span#vcardADRintlstate { min-width: 3em; display: inline-block; }

pre#vcardLBLhome, pre#vcardLBLwork, pre#vcardLBLparcel, pre#vcardLBLpostal,
pre#vcardLBLdom, pre#vcardLBLintl, pre#vcardNOTES, pre#vcardOTHER { overflow: auto; max-height:10em; }

strong.title6 { display: inline-block; min-width: 6em; }

div#divNOTES, div#divOTHER { border: 1px solid black; }
